.App {
  text-align: center;
}
.nav{
  background-color: darkslategray;
  color: beige;
  display:flex;
  justify-content : space-between;
  align-items: center;
  gap: 2rem;
  padding:0 1rem;
  height: 100px;
}
.home-title{
  font-size:xx-large;
  font-weight: 400;
  display: flex;
  align-self: center;
}
.nav ul{
  padding:0;
  margin:0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.nav a {
color:inherit;
text-decoration:none;
height: 100%;
display:flex;
align-items:stretch;
padding: .25rem
}
.nav li.active{
  background-color:cadetblue;
}
.nav li:hover{
  background-color:rgb(95, 224, 231);
}
.Geninfo{
  color: rgba(24, 23, 26, 0.549);
  font-weight: 400;
  font-family: monospace;
  font-size:xx-large;
  padding:15%;
}
.main-button{
  color:rgb(11, 14, 14);
  border:none;
  background-color: rgb(68, 173, 144);
  padding: 10px;
  border-radius: 10px;
  margin:20%;
}
.Customerbutton{
  color:rgb(11, 14, 14);
  border:none;
  background-color: cadetblue;
  border-radius: 35px;
  margin-left: 10%;
}
.Freelancerbutton{
  color:rgb(11, 14, 14);
  border:none;
  background-color: cadetblue;
  border-radius: 35px;
  margin-right: 10%;
}
.Freelanceremail{
  display:flex;
  align-items: flex-start;
  background-color: rgb(36, 94, 58);
  border:none;
  color:black
}
Freelancername{
  display:flex;
  align-items: flex-start;
  background-color: rgb(36, 94, 58);
  border:none;
  color:black
}
.Customername{
display:flex;
align-items: flex-start;
background-color: rgb(36, 94, 58);
border:none;
color:black

}
Customeremail{
  display:flex;
  align-items: flex-start;
  background-color: rgb(36, 94, 58);
  border:none;
  color:black
}
.Buttontwo{
  display: flex;
  justify-content: flex-start;
  padding:15%;

}
.Pagelayout{
  display:flex;
}
.buttonone{
  display:flex;
  align-items: flex-start;
}